/*
filename: style.css
author: Aastha Shrestha
*/

/* setting the font-family of all elements to Poppins */
* {
    font-family: 'Poppins', sans-serif;
}

/* providing background to the body along with margin, padding, minheight and max-width */
body {
    /* background-image: url('./images/cool-background.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
}

/* specifying the weight of the strong element */
strong {
    font-weight: 500;
}

/* setting the font weight, size and family of the h1 element */
h1 {
    font: 300 30px 'Bricolage Grotesque', sans-serif;
}

/* setting the font weight, size and family of the h2 element */
h2 {
    font: 300 26px 'Bricolage Grotesque', sans-serif;
}

/* setting the font weight, size and family of the h3 element */
h3 {
    font: 300 22px 'Bricolage Grotesque', sans-serif;
}

/* styling the first letter of the h1 elements */
h1::first-letter {
    font-size: xx-large;
    color: #BE273A;
}

/* specifying the width, margin, horizontal alignment and padding-top of the article element */
article {
    width: 80%; 
    margin: auto;
    text-align: justify; 
    padding-top: 3em;
}

/* specifying the position and width of the header element */
header {
    position: fixed;
    width: 100%; top: 0;
}

/* adjusting the width of the logo image in the navigation bar*/
#logo {
    width: 3.5em;
}


/* giving padding and background-color to the navigation bar */
nav {
    padding: 0.75em 0;
    background-color:#EAC6D0;
}

/* specifying the max-width and margin of the section element nested inside the nav element */
nav section {
    max-width: 80%;
    margin: 0 auto;
}

/* setting the list-style, margin, padding and display of the unordered list used in the navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* setting the margin-right for each of the list items in the navigation bar's unordered list */
nav li {
    margin-right: 20px;
}

/* specifying the text decoration style, color and font size of the anchor elements within the navigation bar */
nav li a {
    text-decoration: none;
    color: #BE273A;
    font-size: 1em;
}

/* specifying the color and text decoration style to be applied to the anchor element when it is being hovered on */
nav li a:hover {
    color: #88001d; 
    text-decoration: underline;
}

/* specifying the color and text decoration style to be applied to the anchor element when it is in active state */
nav li a:active {
    font-weight: bold;
} 

/* setting the width of the fieldset element */
fieldset {
    width: fit-content;
}

/* styling the aside element by adjusting its width, floating it to the right and specifying the padding, margin, border style and color, background color and color properties*/
aside {
    width: 25%;
    float: right;
    padding: 15px;
    margin: 15px;
    border-style: solid;
    border-color: #BE273A;
    background-color: black;
    color: #BE273A;
  }


/* setting padding to the definition list element */
dl {
    padding: 0.5em;
}

/* styling the description term element */
dt {
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
    font-weight: bold;
    color: #BE273A;
}

/* adding a ':' after the description term element */
dt::after {
    content: ":";
}

/* specifying the margin-left of the dd element */
dd{
    margin-left: 25px;
}

/* styling the table caption */
caption {
    font: 300 22px 'Bricolage Grotesque', sans-serif;
}


/* specifying the width of the mail logo in the footer */
#mail {
    width: 2em;
}

/* styling the footer element */
footer {
    align-items: center;
    background-color: #EAC6D0;
    height: 75px;

    bottom: 0;
    width: 100%;
}

/* aligning and setting the size of the text in the section element nested within the footer element */
footer section {
    text-align: center;
    font-size: small;
}

/* adding margin to the p tag containing the copyright information */
#copyright {
    margin-top: -10px;
}

/* specifying the cursor type and padding for the summary element within the details element */
details > summary {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
}




